################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/Project1.vcxproj.user
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj
/Project1/Project1.sln
/Project1/Debug/vc142.pdb
/Project1/Debug/vc142.idb
/Project1/Debug/Project1.vcxproj.FileListAbsolute.txt
/Project1/Debug/Project1.tlog/Project1.lastbuildstate
/Project1/Debug/Project1.tlog/link.write.1.tlog
/Project1/Debug/Project1.tlog/link.read.1.tlog
/Project1/Debug/Project1.tlog/link.command.1.tlog
/Project1/Debug/Project1.tlog/CL.write.1.tlog
/Project1/Debug/Project1.tlog/CL.read.1.tlog
/Project1/Debug/Project1.tlog/CL.command.1.tlog
/Project1/Debug/Project1.tlog
/Project1/Debug/Project1.pdb
/Project1/Debug/Project1.log
/Project1/Debug/Project1.ilk
/Project1/Debug/Project1.exe.recipe
/Project1/Debug/Project1.exe
/Project1/Debug/main.obj
/Project1/Debug
/Project1/.vs/Project1/v16/TestStore/0/testlog.manifest
/Project1/.vs/Project1/v16/TestStore/0/000.testlog
/Project1/.vs/Project1/v16/TestStore/0
/Project1/.vs/Project1/v16/ipch/AutoPCH/a8cf6d796cd293bf/MAIN.ipch
/Project1/.vs/Project1/v16/ipch/AutoPCH/a8cf6d796cd293bf
/Project1/.vs/Project1/v16/ipch/AutoPCH/a8b5440f2d4ce950/XTHROW.ipch
/Project1/.vs/Project1/v16/ipch/AutoPCH/a8b5440f2d4ce950
/Project1/.vs/Project1/v16/ipch/AutoPCH
/Project1/.vs/Project1/v16/Browse.VC.opendb
/Project1/.vs/Project1/v16/Browse.VC.db-wal
/Project1/.vs/Project1/v16/Browse.VC.db-shm
/Project1/.vs/Project1/v16/Browse.VC.db
/Project1/.vs/Project1/v16/.suo
/Project1/.vs/Project1/v16
/Project1
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/7_dynamic_prog_task_backpack/v16/TestStore/0/testlog.manifest
/.vs/7_dynamic_prog_task_backpack/v16/TestStore/0/000.testlog
/.vs/7_dynamic_prog_task_backpack/v16/TestStore/0
/.vs/7_dynamic_prog_task_backpack/v16/ipch/AutoPCH/d9a8c65e349787e1/MAIN.ipch
/.vs/7_dynamic_prog_task_backpack/v16/ipch/AutoPCH/d9a8c65e349787e1
/.vs/7_dynamic_prog_task_backpack/v16/ipch/AutoPCH/40c4d1cd8422d049/MAIN.ipch
/.vs/7_dynamic_prog_task_backpack/v16/ipch/AutoPCH/40c4d1cd8422d049
/.vs/7_dynamic_prog_task_backpack/v16/ipch/AutoPCH
/.vs/7_dynamic_prog_task_backpack/v16/Browse.VC.db
/.vs/7_dynamic_prog_task_backpack/v16/.suo
/.vs/7_dynamic_prog_task_backpack/v16
/.vs
